body {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@keyframes roundMove {
  0% {
    transform: rotate(0deg) translateY(400px) rotate(360deg);
  }

  100% {
    transform: rotate(360deg) translateY(400px) rotate(-360deg);
  }
}

@keyframes roundMove2 {
  0% {
    transform: rotate(180deg) translateY(400px) rotate(180deg);
  }

  100% {
    transform: rotate(540deg) translateY(400px) rotate(-540deg);
  }
}

.moving {
  backface-visibility: hidden;
  position: absolute;
  animation: roundMove 60s infinite linear;
  left: 50%;
  top: 50%;
  z-index: 0;
  width: 8rem;
}


.moving:nth-child(1) {
  animation: roundMove2 60s infinite linear;
}